* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0f7da;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

/* Hero */
.hero-image {
  background-image: url(/images/food.jpeg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/*End of Hero */

.navigation {
  overflow: hidden;
  background-color: #333;
}

.navigation ul {
  display: flex;
  color: #8B4513;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation li {
  list-style-type: none;
}
