* {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
}

main {
    padding: 1rem;
    min-height: 100vh;
}